body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

/*временно для визуализации
body > * { background: rgba(255, 0, 0, 0.3); } body > * > * { background: rgba(255, 255, 0, 0.3); }
body > * > * > * { background: rgba(0, 0, 255, 0.3); } body > * > * > * > *
{ background: rgba(0, 255, 255, 0.3); }*/

a {
  text-decoration: none;
}

.inner-page {
  background-color: #849d8f;
}

.button {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
  color: #FEFEFE;
  border: none;
  border-radius: 30px;
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button:hover,
.button-focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 18px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  min-height: 80px;
}

.main-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-page .main-navigation-container img {
  margin-right: 10px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 22px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
 }

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition:
    background-image 0.5s ease,
    background-color 0.5s ease;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #FFFFFF;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 11px;
}

.slider-controls {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849D8F;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996A6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9D8B84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #FFFFFF;
}

.site-navigation {
  width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.site-navigation li {
  margin-right: 3px;
  padding: 7px 13px;
}

.site-navigation .item-current {
  background-color: #D07058;
  border-radius: 30px;
}

.site-navigation .item-current a {
  border: none;
}

.site-navigation a {
  display: block;
  vertical-align: middle;
}

.site-navigation li:hover:not(.item-current),
.site-navigation li:not(.item-current):focus {
  background-color: #F8F7F4;
  border-radius: 30px;
  color: #323232;
}

.site-navigation a:hover:not(.item-current a),
.site-navigation a:focus:not(.item-current a) {
  border: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
}

.contact-wrapper {
  margin-top: -23px;
  display: flex;
  flex-direction: column;
  width: 180px;
 }

.site-tools {
  font-size: 14px;
  font-weight: 400;
  width: 246px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.inner-page .site-tools {
  width: 261px;
}

*.search:hover .search-form {
  display: block;
}

.site-search {
  width: 33px;
  height: 33px;
  vertical-align: middle;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.site-search:hover path,
.site-search:focus path,
.login-link:hover path,
.login-link:focus path,
.login-link:hover polygon,
.login-link:focus polygon{
  fill: #323232;
}

.search-form {
  padding: 20px;
  padding-left: 16px;
  border-radius: 5px;
  background-color: #F8F7F4;
  position: absolute;
  box-sizing: border-box;
  top: 59px;
  right: 280px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  display: none;
}

.search-form input {
  width: 308px;
  font-size: 14px;
  line-height: 24px;
  padding: 9px;
  padding-left: 12px;
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  margin: 0;
}

.search-form p {
  margin: 0;
}

input[type="search"]::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #D3D3D2;
}

.user-navigation li {
  position: relative;
}

.login-form {
  padding: 20px 17px;
  border-radius: 5px;
  background-color: #F8F7F4;
  position: absolute;
  top: 29px;
  right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  display: none;
  z-index: 100;
}

.new-registration {
  margin-top: -2px;
}

.login-form input, textarea {
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 10px;
  border: 1px solid #D3D3D2;
  border-radius: 5px;
  width: 216px;
}

.login-form p {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.login-button {
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 12px;
 padding-bottom: 12px;
 margin: 0;
 margin-right: 10px;
}

p.login-password-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form a {
  text-decoration: underline;
}

.login-password-info a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  color: #323232;
}

.user-navigation > li:hover .login-form,
.user-navigation > li:focus .login-form{
  display: flex;
}

.basket-link {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  padding-right: 16px;
  line-height: 16px;
}

.login-link {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.login-link svg {
  vertical-align: middle;
}

.login-link:hover,
.login-link:focus {
  color: #323232;
  background-color: #FFFFFF;
}

.login-link,
.basket-link {
  position: relative;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
}

.basket-link.added-products {
  background-color: #F7F7F3;
  color: #323232;
  border-color: #F7F7F3;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }

.inner-page .basket-link::before {
  background-image: url("../img/basket-red.svg");
 }

.site-navigation,
.user-navigation,
.footer-social ul,
.footer-links ul,
.catalog-item,
.features-list,
.breadcrumbs,
.catalog-more {
  list-style: none;
}

.site-navigation a,
.login-link,
.basket-link,
.main-footer a,
.breadcrumbs a,
.catalog-item a {
  color: #FFFFFF;
}

.site-navigation a,
.catalog-item-title,
.breadcrumbs a,
.footer-links a,
.copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links a:hover,
.footer-links a:focus,
.copyright-link:hover,
.copyright-link:focus {
  color: #FFBC9E;
}

.modal label {
  display: none;
}

.modal {
  position: fixed;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  display: none;
}

.basket-modal {
  width: 540px;
  padding-bottom: 23px;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 17px;
  border-radius: 5px;
  background-color: #F8F7F4;
  color: #323232;
  position: absolute;
  top: 29px;
  right: 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 100;
  display: none;
}

.basket-modal img {
  border-radius: 50%;
  margin-right: 13px;
}

.basket-list {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.basket-list h3 {
  width: 230px;
  margin-top: 7px;
  order: 1;
}

.basket-wrapper {
  position: relative;
}

.basket-wrapper:hover .basket-modal {
  display: flex;
}

.basket-list li {
  display: flex;
  margin-bottom: 3px;
}

.basket-modal .button {
  align-self: flex-end;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-bottom: 0;
}

.basket-list h3,
.basket-list b {
  font-size: 13px;
  font-weight: 400;
}

.basket-list a,
.basket-list b {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  display: block;
}

.basket-list a {
  display: flex;
}

.basket-item {
  margin-right: 15px;
}

.item-small-photo {
  margin-top: 0;
}

.basket-item-price {
  width: 123px;
  line-height: 16px;
  margin-top: 7px;
}

.item-total-price {
  margin-top: 7px;
}

.basket-total-price {
  color: #323232;
  align-self: flex-end;
  position: relative;
  margin-bottom: 5px;
}

.basket-total-price::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -402px;
  min-width: 505px;
  height: 1px;
  background: #CACAC7;
}

.button-delete {
  width: 11px;
  height: 11px;
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  margin-right: 14px;
  margin-top: 9px;
}

.price-for-kilogram {
  font-size: 13px;
  color: #999999;
  margin-left: 4px;
}

.work-time {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contact-number {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 48px;
}

.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.catalog-item-price {
  font-size: 45px;
}

.per-kilogram {
  font-size: 30px;
  margin-left: 3px;
}

.advertisement-one,
.advertisement-two {
  width: 560px;
  font-size: 18px;
  box-sizing: border-box;
  padding-right: 21px;
  padding-bottom: 24px;
  padding-top: 28px;
  padding-left: 19px;
  list-style: none;
  text-align: left;
  border-radius: 19px;
  background-image: url("../img/malina-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.advertisement-one h2,
.advertisement-two h2 {
  font-size: 35px;
  margin: 0;
  margin-bottom: 23px;
}

.advertisement-one p,
.advertisement-two p {
  margin: 0;
  margin-bottom: 46px;

}

.advertisement-one .button,
.advertisement-two .button {
  margin: 0;
  align-self: flex-end;
}

.advertisement-two {
  background-image: url("../img/chocolate-background.jpg");
}


.features {
  box-sizing: border-box;
  margin-left: 0;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 0;
  padding-bottom: 5px;
  color: #323232;
  background-color: #EFE5CC;
  background-image: url("../img/waffle-big.png");
  border-radius: 15px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features li {
  position: relative;
  width: 482px;
  margin-bottom: 22px;
  margin-right: 25px;
  padding-left: 56px;
}

.features li:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -14px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features li:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -14px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features li:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -14px;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features li:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -14px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin:0;
  margin-bottom: 21px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 37px;
}

.features-list,
.breadcrumbs {
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 98px;
}

.breadcrumbs li {
  margin-right: 11px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
}

.range-controls {
  position: relative;
  padding-right: 6px;
  padding-left: 6px;
  background-color: #A9BBB1;
  border-radius: 5px;
}

.range-controls .scale {
  width: 177px;
  height: 4px;
  background: #D0D9D2;
  margin-top: 9px;
  margin-bottom: 9px;
}

.range-controls .bar {
  height: 4px;
  background: #F8F7F4;
}

.range-controls .toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 117px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.filter select {
  border: none;
  background-color: #A9BBB1;
  background: url("../img/select-down.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position: right;
  color: #FFFFFF;
  appearance: none;
  -webkit-appearance: none;
  padding-right: 36px;
  text-transform: lowercase;
}

.filter option {
  background: #FFFFFF;
  color: red;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-right: 12px;
  margin-bottom: 35px;
  border-radius: 30px;
  border: none;
  background-color: #A9BBB1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 8px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.filter .fillers {
  display: flex;
}

.fatness {
  font-weight: 400;
  text-transform: lowercase;
  line-height: 18px;
  display: flex;
}

.filter legend {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  top: -21px;
  left: 12px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-right: 22px;
  padding-left: 28px;
}

.fillers .filter-option {
  padding-left: 32px;
  margin-right: 20px;
}

.filter-option:last-child {
  margin-right: 0;
}

.filter-option label {
  line-height: 18px;
  font-weight: 400;
  text-transform: lowercase;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter select:hover,
.filter select:focus {
  color: #323232;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #EDF1EF;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -26px;
  width: 19px;
  height: 15px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  width: 16px;
  height: 16px;
  border: 3px solid #EDF1EF;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -25px;
  width: 8px;
  height: 8px;
  background-color: #EDF1EF;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-button {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  margin: 0;
  margin-bottom: 35px;
  border-radius: 30px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 7px;
  padding-bottom: 9px;
  background-color: #A9BBB1;
  display: inline-block;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: #FFFFFF;
  color: #323232;
}

.filter-button:active {
  background-color: #EDEDED;
  padding-top: 9px;
  padding-bottom: 11px;
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.filter-option label::before:hover,
.filter-option label::after:hover {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  list-style: none;
}

.inner-page .catalog-list {
  margin-bottom: 50px;
  margin-top: -14px;
}

.inner-page .catalog-item {
  margin-bottom: 32px;
}

.catalog-item {
  width: 267px;
  margin-bottom: 34px;
  margin-right: 26px;
  margin-top: 4px;
  text-align: center;
  position: relative;
}

.catalog-item h3 {
  margin: 0 auto;
  padding: 0;
  margin-top: 5px;
  width: 255px;
}

.catalog-item p {
  margin: 0;
}

.hit {
  position: absolute;
}

.catalog-item .button {
  position: absolute;
  right: 20px;
  display: none;
  z-index: 100;
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  width: 296px;
  min-height: 408px;
  border-radius: 3px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  background: rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.catalog-item:hover a.button {
  display: block;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  margin-right: 22px;
  list-style: none;
  line-height: 18px;
}

.pagination-item {
  position: relative;
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:last-child::before,
.pagination-item:last-child::after {
  content: "";
  position: absolute;
  right: -22px;
  width: 8px;
  height: 1px;
  background-color: #A5B3B1;
}

.pagination-item:last-child::before {
  top: 11px;
  transform: rotate(45deg);
}

.pagination-item:last-child::after {
  top: 16px;
  transform: rotate(-45deg);
}

.pagination-item:first-child::before,
.pagination-item:first-child::after {
  content: "";
  position: absolute;
  left: -22px;
  width: 8px;
  height: 1px;
  background-color: #A5B3B1;
}

.pagination-item:first-child::before {
  top: 16px;
  transform: rotate(45deg);
}

.pagination-item:first-child::after {
  top: 11px;
  transform: rotate(-45deg);
}

.pagination-item a {
  color: #FFFFFF;
  display: block;
  padding: 4px 8px;
 }

.pagination-item:hover,
.pagination-item:focus {
  background-color: #9CB0A5;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-item-current a,
.pagination-item:active a {
  color: #323232;
  background: #FFFFFF;
  border-radius: 50%;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-image {
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  position: absolute;
  top: 222px;
  left: -2px;
}

.catalog-more {
  position: absolute;
  top: 38px;
  left: -8px;
  padding: 0;
  padding-top: 3px;
  margin: 0;
  width: 143px;
  min-height: 170px;
  background-color: #F8F7F4;
  border-radius: 5px;
  display: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  z-index: 100;
}

.catalog-more a {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: none;
}

.catalog-more li:first-child a.catalog-more-item:first-child {
  font-weight: 700;
}

.catalog-more li:first-child {
  position: relative;
  margin-bottom: 9px;
}

.catalog-more li:first-child::after {
  content: "";
  width: 128px;
  height: 1px;
  background: #CACAC7;
  position: absolute;
  left: 7px;
  bottom: -7px;
}


.catalog-more li {
  margin: 0;
  padding: 0;
}

.catalog-more-item:hover,
.catalog-more-item:focus {
  background-color: #FBDED7;
}

.catalog-more-item:active {
  background-color: #F6B5A5;
}

.site-navigation > li:hover .catalog-more {
  display: block;
}

.blog {
  width: 560px;
  box-sizing: border-box;
  padding: 20px;
  color: #323232;
  list-style: none;
  text-align: left;
  border-radius: 15px;
  background-color: #FFFFFF;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.blog a {
  color: #323232;
}

.blog h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blog h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscribing {
  width: 560px;
  padding-bottom: 0px;
  font-weight: 400;
  box-sizing: border-box;
  color: #5A5A5A;
  border-radius: 10px;
  background: url("../img/mail-background.png");
  padding: 6px;
}

.mailing {
  display: flex;
  align-items: center;
}

.subscribing-offer {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 20px;
}

.subscribing-wrapper {
  border-radius: 10px;
  background-color:#F8F7F4;
  padding-left: 21px;
  padding-right: 12px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.modal-mailing {
  width: 481px;
  font-weight: 400;
  color: #323232;
  background-color: #F8F7F4;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 27px;
  padding-left: 24px;
  padding-right: 26px;
  position: absolute;
  top: 349px;
  left: 50%;
  margin-left: -230px;

}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-mailing .promise-answer {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.subscribing input[type="email"],
.modal-mailing input[type="email"],
.modal-mailing input[type="text"],
.modal-mailing textarea {
  font: inherit;
  color: #999999;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 0 16px;
  box-sizing: border-box;
}

.modal-mailing input[type="email"],
.modal-mailing input[type="text"] {
  width: 270px;
  height: 47px;
}

.modal-mailing textarea {
  width: 431px;
  padding-left: 16px;
  padding-top: 8px;
}

.subscribing input[type="email"] {
  width: 368px;
  height: 44px;
  padding-left: 14px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 17px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 23px;
  height: 3px;
  background-color: #231F20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.map-info {
 position: relative;
 margin: 0 auto;
}

iframe {
  width: 1280px;
  height: 430px;
}

.contacts {
  width: 302px;
  box-sizing: border-box;
  position: absolute;
  right: 65px;
  top: 63px;
  padding-top: 27px;
  padding-bottom: 32px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FDFEFE;
  border-radius: 12px;
  color: #323232;
}

.contacts p {
  margin: 0;
  padding: 0;
}

p.address-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px;
}

p.address {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 17px;
}

p.contact-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 4px;
}

p.contacts-number {
  font-size: 18px;
  margin-bottom: 2px;
}

p.work-time-info {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}

.contacts .button {
  margin: 0;
  display: block;
}

.main-footer {
  position: relative;
}

.main-footer .container {
  display: flex;
  align-items: center;
  min-height: 105px;
}


.inner-page .main-footer .container {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social {
  width: 187px;
  margin-right: 195px;
  display: flex;
  align-items: center;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  width: 184px;
  padding: 0;
}

.social-button svg {
  border: 2px solid rgba(255, 255, 255, 0.8);;
  border-radius: 50%;
}

.footer-links {
  margin-right: 203px;
}

.footer-links ul {
  width: 335px;
  height: 50px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-links ul li {
  margin-bottom: 6px;
}

.footer-links li:first-child {
  position: relative;
  font-weight: 700;
}

.footer-links li:first-child::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  width: 200px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  margin-top: -19px;
  /*
  position: absolute;
  right: 54px;
  top: 16px;*/
}

.footer-copyright span {
  margin-top: 2px;
  font-weight: 400;
}
