body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #849D8F;
}

a {
  text-decoration: none;
}

.button {
  margin: 10px;
  display: block;
  height: 46px;
  color: #FEFEFE;
  border: none;
  border-radius: 30px;
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(#F26843, #E74A35);
  box-shadow:
    0 2px 4px 0 rgba(172,16,0,0.65),
    inset 0 1px 3px 0 rgba(0,0,0,0.5);
}

.button-send {
  width: 131px;
  height: 46px;
}

.button-create-order {
  width: 173px;
  height: 48px;
}

.button:hover,
.button:focus {
  background: rgba(255,255,255,0.2);
  background-image: linear-gradient(#E74A35, #F26843);
  box-shadow:
    0 2px 2px 0 rgba(172,16,0,1),
    inset 0 1px 3px 0 rgba(0,0,0,0.5);
}

.button:active {
  background-image: linear-gradient(#E74A35, #F26843);
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  line-height: 18px;
  background-color: #849D8F;
}

.site-tools {
  font-size: 14px;
  font-weight: 400;
}

.site-navigation,
.user-navigation,
.footer-social ul,
.footer-links ul,
.catalog-item,
.features-list,
.breadcrumbs {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.site-tools a,
.main-footer a,
.breadcrumbs a,
.catalog-item a {
  color: #FFFFFF;
}

.site-navigation a,
.breadcrumbs a,
.catalog-item a,
.footer-links a,
.copyright-link {
  border-bottom: 1px solid #9FB4A8;
  }

.user-navigation a:hover,
.user-navigation a:focus {
  color: #FFBC9E;
}

.main-container a:hover,
.main-container a:focus,
.main-footer a:hover,
.main-footer a:focus {
  color: #FFBC9E;
  border-bottom: 1px solid #A8A194;
}

.catalog-more,
.login-form,
.search-form,
.modal,
.basket-list,
label {
  display: none;
}

.basket-products {
  color: #323232;
  font-weight: 500;
  background-color: #F7F7F3;
}

.basket-no-products {
  font-weight: 400;
}

.basket-list h3,
.basket-list b {
  font-size: 13px;
  font-weight: 400;
}

.price-for-kilogram {
  color: #999999;
}

.work-time {
  font-size: 14px;
  text-align: right;
}

.contact-number {
  font-size: 22px;
  text-align: right;
}

.main-container h1 {
  font-size: 35px;
}

.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.catalog-item-price {
  font-size: 45px;
}

.per-kilogram {
  font-size: 30px;
}

.features {
  color: #323232;
  background-color: #EFE5CC;
  background-image: url("../img/waffle-big.png");
}

.features-list,
.breadcrumbs {
  font-weight: 400;
}

p.features {
  font-size: 24;
  line-height: 30px;
}

.blog {
  color: #323232;
  list-style: none;
  text-align: left;
  background-color: #FFFFFF;
  background-image: url("../img/strawberry-background.png");
}

.blog a {
  color: #323232;
}

.blog h2 {
  font-size: 16px;
  font-weight: 500;
}

.blog h3 {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscribing {
  font-weight: 400;
  color: #5A5A5A;
  background-color:#F8F7F4;
}

.subscribing input[type="email"] {
  font: inherit;
  color: #999999;
  background-color: #CEE0C0;
}

.footer-links {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer-links li:first-child {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 16px;
}
