body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #849D8F;
}

/* временно для визуализации */
body > * { background: rgba(255, 0, 0, 0.3); } body > * > * { background: rgba(255, 255, 0, 0.3); }
body > * > * > * { background: rgba(0, 0, 255, 0.3); } body > * > * > * > *
{ background: rgba(0, 255, 255, 0.3); }

a {
  text-decoration: none;
}

.button {
  margin: 10px;
  display: block;
  height: 46px;
  color: #FEFEFE;
  border: none;
  border-radius: 30px;
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button-send {
  width: 131px;
  height: 46px;
}

.button-create-order {
  width: 173px;
  height: 48px;
}

.button:hover,
.button-focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 18px;
  background-color: #849D8F;

  /* временно */
  min-height: 115px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.main-navigation-container {
  display: flex;
  justify-content: space-between;
}

.main-header {
  min-height: 115px; /* временно */
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;

}

.site-navigation {
  width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
}

.user-navigation {
  width: 246px;
  margin: 0;
  padding: 0;
}

.contact-wrapper {
  margin-right: 27px;
  margin-bottom: 1155px; /* временно */
  display: flex;
  flex-direction: column;
  width: 180px;
 }

.site-tools {
  position: relative;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-search {
  width: 35px;
  height: 35px;
  border: 1px solid #A2B6AA;
  border-radius: 50%;
  background-color: #A2B6AA;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-tools a,
.basket-link a {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 16px;
  vertical-align: middle;
}

.login-link,
.basket-link {
  position: relative;
  border: 1px solid #A2B6AA;
  border-radius: 30px;
  background-color: #A2B6AA;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
 }

.site-navigation,
.user-navigation,
.footer-social ul,
.footer-links ul,
.catalog-item,
.features-list,
.breadcrumbs {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.site-tools a,
.main-footer a,
.breadcrumbs a,
.catalog-item a {
  color: #FFFFFF;
}

.site-navigation a,
.breadcrumbs a,
.catalog-item a,
.footer-links a,
.copyright-link {
  border-bottom: 1px solid #9FB4A8;
  }

.user-navigation a:hover,
.user-navigation a:focus {
  color: #FFBC9E;
}

.main-container a:hover,
.main-container a:focus,
.main-footer a:hover,
.main-footer a:focus {
  color: #FFBC9E;
  border-bottom: 1px solid #A8A194;
}

.catalog-more,
.login-form,
.search-form,
.modal,
.basket-list,
label {
  display: none;
}

.basket-products {
  color: #323232;
  font-weight: 500;
  background-color: #F7F7F3;
}

.basket-no-products {
  font-weight: 400;
}

.basket-list h3,
.basket-list b {
  font-size: 13px;
  font-weight: 400;
}

.price-for-kilogram {
  color: #999999;
}

.work-time {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contact-number {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.main-container h1 {
  font-size: 35px;
  line-height: 41px;
}

.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.catalog-item-price {
  position: relative;
  font-size: 45px;
}

.per-kilogram {
  font-size: 30px;
}

.features {
  box-border: content;
  margin-left: 0;
  padding: 20px;
  padding-bottom: 0;
  color: #323232;
  background-color: #EFE5CC;
  background-image: url("../img/waffle-big.png");
  border-radius: 15px;
}

.features-list {
  column-count: 2;
}

.features li {
  position: relative;
  margin-bottom: 34px;
  padding-left: 73px;
}

.features li:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features li:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features li:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features li:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 7px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.features p {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 40px;
}

.features-list,
.breadcrumbs {
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 244px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  left: 7px;
  width: 49px;
  height: 49px;
 /* background-image: url("../img/");*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 0;
 margin: 0;
 list-style: none;
}

.catalog-item {
  width: 267px;
  margin-bottom: 40px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.blog {
  width: 560px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 26px;
  color: #323232;
  list-style: none;
  text-align: left;
  border-radius: 15px;
  background-color: #FFFFFF;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.blog a {
  color: #323232;
}

.blog h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.blog h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscribing {
  width: 560px;
  padding: 20px;
  font-weight: 400;
  color: #5A5A5A;
  background-color:#F8F7F4;
  border-radius: 15px;
}

.subscribing p {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
}

.mailing {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
}

.subscribing input[type="email"] {
  width: 371px;
  height: 47px;
  font: inherit;
  color: #999999;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.main-footer {
  min-height: 103px;
  margin-top: 468px; /* временно */
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 193px;
  margin-right: 200px;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
}

.social-button svg {
  border: 2px solid #C1CEC7;
  border-radius: 50%;
}

.footer-links {
  width: 340px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.footer-links ul {
  column-count: 2;
}

.footer-links li:first-child {
  position: relative;
  font-weight: 700;
}

.footer-links li:first-child::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  width: 200px;
  margin: 0;
  margin-left: auto;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
}
